// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #132540; // Caesar color
$yellow: #FFC65A;
$orange: #F95A00; // Caesar color
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F6F6F6; // Caesar color
$purple: #6C63FF; // Caesar color
