// Specific CSS for your home-page
#caesar-search-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 144px;
  margin-left: 32px;
  // padding-top: 50px;
  // padding-right: 50px;
  // padding-bottom: 50px;
  // padding-left: 50px;
}

#caesar-search-h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#caesar-review-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 144px;
  margin-left: 32px;
  margin-top: -124px;
  // padding-top: 50px;
  // padding-right: 50px;
  // padding-bottom: 50px;
  // padding-left: 50px;
  h2 {
    color: white;
  }
}

#caesar-review-h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-repeat: no-repeat;
}
.button-home {
  margin-top: 30px;
}
.home-search {
  margin-top: 30px;
}
.home-search .form-control {
  border-radius: 50px;
}
.button-home .purple-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-home .purple-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-home .purple-button:hover span {
  padding-right: 25px;
}

.button-home .purple-button:hover span:after {
  opacity: 1;
  right: 0;
}





//large quotes around text
// blockquote {
//     width: 500px;
//     margin: 0.25em 0;
//     padding: 0.35em 40px;
//     line-height: 1.45;
//     position: relative;
//     color: #383838;
// }

// blockquote:before {
//     font-family: Georgia, serif;
//     position: absolute;
//     font-size: 6em;
//     line-height: 1;
//     top: 0;
//     left: -0.1em;
//     content: "\201C";
// }
// blockquote:after {
//     font-family: Georgia, serif;
//     position: absolute;
//    /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
//     float:right;
//     font-size:6em;
//     line-height: 1;
//     right:-0.1em; //to move from side to side, make classes
//     bottom:-0.5em;
//     content: "\201D";

// }
//hello
