// Specific CSS for your home-page
#caesar-search-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 144px;
  margin-left: 32px;
  // padding-top: 50px;
  // padding-right: 50px;
  // padding-bottom: 50px;
  // padding-left: 50px;
}

#caesar-search-h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#caesar-review-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 144px;
  margin-left: 32px;
  // padding-top: 50px;
  // padding-right: 50px;
  // padding-bottom: 50px;
  // padding-left: 50px;
}

#caesar-review-h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
