.our-filters-container {
  padding: 20px;
  h1 {
    color: $blue;
  }
  h4 {
    margin-top: 40px;
    color: $blue;
  }
}

.filters-card-container {
  margin-top: 40px;
}

.filters-card {
  border: 0.5px solid #f6f6f6;
  border-radius: 6px;
  box-shadow: 2px 8px 31px -11px #a8a8a8;
  margin: 10px;
  padding: 24px;
  width: 90%;
  h3 {
    color: $orange;
    margin-top: 10px;
  }
  p {
    color: $blue;
  }
}

.filters-explained-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters-explained-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.our-filters-image {
  padding: 7%;
}
