.show-container {
  animation: transitionIn 0.75s;
  padding: 40px;
  h1 {
    font-size: 48px;
    color: $blue;
  }
}

.fa-utensils {
  font-size: 18px;
  padding: 8px;
}

.show-title-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}
.show-description {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 50%;
  padding: 20px;
  h2 {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
  }
  h3 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
  }
  h4 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  }
  p {
    color: $orange;
  }
}
.top-show-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.review-container {
  animation: transitionIn 0.75s;
  padding: 10px;
  p {
    color: $orange;
  }
}

.venue-attributes-orange {
  color: $orange;
  display: flex;
  flex-direction: column;
}

.user-reviews-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.each-review-box {
  border: 0.5px solid #f6f6f6;
  border-radius: 6px;
  box-shadow: 2px 8px 31px -11px #a8a8a8;
  margin: 10px;
  padding: 10px;
  p {
    padding: 10px;
    margin-left: 10px;
  }
}

.add-reviews-container {
  padding: 20px;
  border: 0.5px solid #f6f6f6;
  border-radius: 6px;
  box-shadow: 2px 8px 31px -11px #a8a8a8;
  margin: 10px;
}

.reviews-box {
  display: flex;
  flex: space-between;
  flex-direction: column;
  margin-top: 10px;
}

.input-box {
  margin-top: 20px;
  margin-bottom: 30px;
}

.review-avatar {
  margin-left: 20px;
}
.fa-check-circle {
  color: $orange;
  padding-left: 8px;
}
.review-stars {
  margin-left: 20px;
  color: grey;
}

.attr-icon-show {
  padding: 4px;
}
