<div class="footer">
  <div class="footer-content">
    <div class="links">
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fab fa-github"></i>
    </div>
    <h6>This app was coded with <i class="fas fa-heart"></i> by the Caesar team.</h6>
  </div>
</div>
