<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="visioncards d-flex justify-content-between">
  <div class="visioncard">
    <%= image_tag "visioncards.png", class: "vision-img" %>
    <div class="container">
      <h4><b>Removing social barriers</b></h4>
    </div>
  </div>
  <div class="visioncard">
    <%= image_tag "visioncards1.png", class: "vision-img1" %>
    <div class="container">
      <h4><b>Accessability and inclusivity</b></h4>
    </div>
  </div>
  <div class="visioncard">
    <%= image_tag "visioncards2.png", class: "vision-img2" %>
    <div class="container">
      <h4><b>Having a good time!</b></h4>
    </div>
  </div>
</div>
