<div class="our-filters-container">
  <div class="filters-explained-content">
      <div class="filters-explained-text">
        <h1>Our Filters</h1>
        <h4>Navigating the world as a person who is neurodivergent can feel impossible sometimes. You never know what kind of response your mind and body will have to any given environment, and managing your reactions to stimuli can be tough.</h4>
        <h4>At Caesar we've developed a series of filters which help identify restaurants and what makes them accessible. Below are all of the filters we use, and what those filters mean.</h4>
      </div>
      <div class="our-filters-image">
        <%= image_tag "filters-online.png", alt: "Man searching for venues on phone", width: 400 %>
      </div>
    </div>
    <div class="filters-card-container">
      <div class="filters-card">
        <h3>Outdoor Space<i class="fas fa-tree"></i></h3>
        <p>This venue has a garden or outdoor space where people can take a break from the inside.</p>
      </div>
      <div class="filters-card">
        <h3>Disabled Toilets<i class="fas fa-toilet"></i></h3>
        <p>This venue has disabled toilets. </p>
      </div>
      <div class="filters-card">
        <h3>Disabled Access<i class="fas fa-wheelchair"></i></h3>
        <p>Wheelchair access is available at the venue. </p>
      </div>
      <div class="filters-card">
        <h3>Disabled Parking<i class="fas fa-parking"></i></h3>
        <p>Disabled parking is available at the venue. </p>
      </div>
      <div class="filters-card">
        <h3>Accommodating Staff<i class="fas fa-smile-beam"></i></h3>
        <p>Staff are trained to understand neurodivergent conditions and will make changes to the ambience (turning music down, rearranging seating) to make guests feel comfortable. </p>
      </div>
      <div class="filters-card">
        <h3>Flexible Menu<i class="fas fa-pizza-slice"></i></h3>
        <p>Chefs and kitchen staff are willing to make changes to the menu to make food less overwhelming in terms of taste and smell. </p>
      </div>
      <div class="filters-card">
        <h3>Dim Lighting<i class="fas fa-lightbulb"></i></h3>
        <p>No bright lights in the venue. </p>
      </div>
      <div class="filters-card">
        <h3>Large Interior Space<i class="fas fa-people-arrows"></i></h3>
        <p>Venue is very large and has ample space between tables. </p>
      </div>
      <div class="filters-card">
        <h3>No Music<i class="fas fa-volume-mute"></i></h3>
        <p>No music is played in the restaurant. </p>
      </div>
      <div class="filters-card">
        <h3>Not Crowded<i class="fas fa-users-slash"></i></h3>
        <p>The venue does not have too many tables in a small interior space. The venue also does not get too busy.</p>
      </div>
      <div class="filters-card">
        <h3>Multiple Exits<i class="fas fa-door-open"></i></h3>
        <p>The venue has many exits where guests can leave comfortably. </p>
      </div>
      <div class="filters-card">
        <h3>No Strong Smells<i class="fas fa-wind"></i></h3>
        <p>The kitchen is not visible from the dining area and strong smells are not prevalent.</p>
      </div>
      <div class="filters-card">
        <h3>Activities For Children<i class="fas fa-child"></i></h3>
        <p>Activities to distract children such as colouring are offered by the venue.  </p>
      </div>
      <div class="filters-card">
        <h3>Mostly Families<i class="fas fa-baby"></i></h3>
        <p>The venue is normally a place for families to go, rather than a loud pub with people drinking alcohol.</p>
      </div>
      <div class="filters-card">
        <h3>Outside Food Allowed<i class="fas fa-shopping-bag"></i></h3>
        <p>The venue will allow food from outside to be brought in, providing at least one guest purchases food from the menu.</p>
      </div>
    </div>




</div>
