<h2>Our Filters</h2>
<h4>Navigating the world as a person who is neurodivergent can feel impossible sometimes. You never know what kind of response your mind and body will have to any given environment, and managing your reactions to stimuli can be tough. At Caesar we've developed a series of filters which help identify restaurants and what makes them accessible. Below are all of the filters we use, and what those filters mean.</h4>
