<h1 class="venue-header">Venues in your area</h1>
<div class="index-page-container">
  <div class="filter-bar" >
    <div class="checkbox-box">
        <%= render "form" %>
    </div>
  </div>
<div id="venues">
    <%= render 'venue', venues: @venues %>
</div>


</div>
