<div class="index-page-container">
  <div class="filter-bar">
  <h1> Filter</h1>
  </div>
  <div class="venues-card-container">
      <h1>Venues in your area</h1>

      <% @venues.each do |venue| %>
      <div class="venue-index-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="venue-index-card-infos">
          <h2><%= link_to venue.name, venue_path(venue)  %></h2>
          <p><%= venue.venue_type %></p>
          </div>
      </div>
      <% end  %>
  </div>
</div>


<div class="checkbox-box">
<label class="container">One
  <input type="checkbox" checked="checked">
 <span class="checkmark"></span>
</label>
<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
</div>
