<div class="index-page-container">
  <div class="filter-bar" >
  <h1 style= color: $blue;> Filter</h1>
  <div class="checkbox-box">
<label class="container">One
  <input type="checkbox" checked="checked">
 <span class="checkmark"></span>
</label>
<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
</div>
  </div>
  <div class="venues-card-container" style= color: $blue;>
      <h1>Venues in your area</h1>

      <% @venues.each do |venue| %>
      <div class="venue-index-card">
      <img src="https://images.unsplash.com/photo-1559329007-40df8a9345d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80" />
          <div class="venue-index-card-infos">
            <h2><%= venue.name  %></h2>
            <p><%= venue.venue_type %></p>
              <div style="padding: 20px">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              </div>
            <h2><%= link_to "Find out more", venue_path(venue),  class: 'purple-button'   %></h2>
          </div>
      </div>
      <% end  %>
  </div>
</div>

<%= render "form" %>
