.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: $blue;
  border: 1px solid $black;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.attribute-selector:checked + label {
  background-color: $orange;
  color: white;
}

.cuisine-selector:checked + label {
  background-color: $purple;
  color: white;
}

.checkbox-box {
  width: 250px;
  position: sticky;
  top: 16px;
  margin-top: 64px;
  margin-left: 8px;
  border-radius: 20px;
  height: 700px;
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.reset-link {
  color: $purple;
  text-decoration: none;
}

.reset-link:hover {
  text-decoration: none;
  color: $orange;
}
