.venues-card-container {
  width: auto;
  margin: 30px;
  font-weight: 700;
  color: $blue;
}

.venue-index-card {
  overflow: hidden;
  height: 240px;
  background: white;
  display: flex;
  align-items: center;
  width: 82%;
  margin: 2%;
  border-radius: 16px;
  border-right: 1rem solid #6c63ff;
}

.venue-index-card img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.venue-index-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: $blue;
}

.venue-index-card p {
  font-size: 14px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  // margin-left: 15px;
  color: black;
  font-weight: lighter;
}

.venue-index-card .venue-index-card-infos {
  padding: 16px;
}

.venue-index-card-infos {
  // display: flex;
  // align-items: between;
  margin-left: 40px;
  overflow: hidden;

}

.d-flex {
  color: $orange;
  font-size: 18px;
}

.find-out-more {
  display: flex;
  flex-direction: column;
}

.checked {
  color: $purple;
}

.venue-text {
  color: #f95a00 !important;
}
.venue-header {
  padding-left: 38px;
  padding-top: 18px;
  color: $blue;
}
.star-style {
  margin: 12px 0px 12px 0px;
}
#card-index-button {
  margin-left: 0px;
}

.venue-button {
  position: absolute;
  margin-left: 556px;
  margin-top: 180px;
}
