.visioncard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 82%;
  border-radius: 20px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.visioncard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.visioncontainer {
  padding: 2px 16px
}

.visioncards {
  display: grid;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}
.visiontext {
  //margin-top: 60px;
  text-align: center;
}
.visiontext1 {
  text-align: center;
}
.visiontext2 {
  text-align: center;
}
// reuse code above for cards
.vision-img {
  width: 64%;
  // height: 150px;
}
.vision-img1 {
  width: 64%;
}
.vision-img2 {
  width: 64%;
}
.h4 {
  font-weight: lighter;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV
@media(min-width: 321px) and (max-width: 480px) {
  .visioncards {
    grid-template-columns: 1fr;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  .visioncards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 769px) {
  .visioncards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10px;
  }
}
