// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "jquery-bar-rating/dist/themes/css-stars";
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
// body {
//   color: $light-gray;
// }

html, body {
  height: 50%;
  animation: transitionIn 0.75s;
}

.main-content {
  min-height: calc(100vh - 250px);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
